<ion-view view-title="Playlists">
    <ion-content>
        <md-content layout-padding>
            <form name="userForm">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>First name</label>
                        <input ng-model="user.firstName">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Last Name</label>
                        <input ng-model="theMax">
                    </md-input-container>
                </div>
                <md-input-container>
                    <label>Contact Number</label>
                    <input ng-model="user.company">
                </md-input-container>
                <md-input-container flex>
                    <label>From</label>
                    <input ng-model="user.address">
                </md-input-container>
                <md-input-container>
                    <label>To</label>
                    <input ng-model="user.address2">
                </md-input-container>
            </form>
            <md-button class="md-raised md-primary" on-tap="buttonClick()">Primary</md-button>
        </md-content>

        <!-- <p>
            {{lat}} {{long}}
        </p> -->
    </ion-content>
</ion-view>
